@grey-dark: #252525;
@brown-dark: #522E00;
@brown-light: #C3A995;
@green-action: #57886C;

.brown-dark {
    background-color: @brown-dark;
}

.brown-light {
    background-color: @brown-light;
}

.main-font {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}

.heading-font {
    font-family: 'Alegreya', serif;
}

* {
    .main-font;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: white;
}

.relative {
    position: relative;
}

section {
    padding: 100px 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

// ================ LANDING PAGE ================

// WELCOME SCREEN
.welcome-screen {
    height: 100vh;
    min-height: 800px;
    background: url('../../img/landing/fullscreen-img.jpg') no-repeat center;
    background-size: cover;
}

.btn-action {
    padding: 10px 20px;
    color: @green-action;
    border: 1px solid @green-action;
    border-radius: 3px;
    background: transparent;
    transition: .3s ease all;

    &:hover {
        color: white;
        background: @green-action;
        cursor: pointer;
    }

    &:active {
        border-color: darken(@green-action, 10%);
        background: darken(@green-action, 10%);
    }

    &:focus {
        outline: none;
    }
}

.header {
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100vw;
    display: flex;
    align-items: center;
    height: 80px;
    background-color: @grey-dark;
    transition: .3s ease background-color;

    &.transparent {
        background-color: rgba(black, .75);
    }

    img {
        height: 50px;
    }

    .nav {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .navigation-block {
            display: flex;
        }
    
        .nav-list {
            display: flex;
            margin-left: 50px;

            li {
                display: flex;
                align-items: center;
                margin-right: 30px;

                &:nth-child(5) {
                    margin-right: 0;
                }

                &.visible-mobile {
                    display: none;
                }
            }
        }

        i {
            font-size: 18px;
        }

        a:hover {
            text-decoration: underline;
        }

        .visible-mobile a, .phone-block a {
            text-decoration: none;
        }

        @media (max-width: 991px) {
            .menu-button.visible-mobile {
                position: relative;
                height: 40px;
                width: 50px;
                border: 1px solid #fff;
                border-radius: 3px;
                cursor: pointer;

                span {
                    content: '';
                    background-color: #fff;
                    height: 1px;
                    width: 21px;
                    position: absolute;
                    left: 13px;
                    top: 18px;
                    transition: 0.3s ease transform;
                }

                &:before {
                    content: '';
                    background-color: #fff;
                    height: 1px;
                    width: 21px;
                    position: absolute;
                    left: 13px;
                    top: 13px;
                    transition: 0.3s ease all;
                }

                &:after {
                    content: '';
                    background-color: #fff;
                    height: 1px;
                    width: 21px;
                    position: absolute;
                    left: 13px;
                    bottom: 14px;
                    transition: 0.3s ease all;
                }

                &.active span {
                    transform: scale(0);
                }

                &.active:before {
                    transform: rotate(45deg);
                    top: 19px;
                }

                &.active:after {
                    transform: rotate(-45deg);
                    bottom: 18px;
                }
            }
            
            .nav-list {
                flex-direction: column;
                position: fixed;
                top: 80px;
                right: -350px;
                margin: 0;
                width: 300px;
                height: 100vh;
                min-height: 1000px;
                padding: 30px 0 30px 40px;
                background-color: darken(@grey-dark, 3%);
                transition: 0.3s ease right;

                li {
                    margin-right: 0;
                    margin-bottom: 20px;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }

                &.active {
                    right: 0;
                }

                li.visible-mobile {
                    display: block;
                }
            }

            .phone-block {
                display: none;
            }
        }
    }
}

@media (max-width: 991px) {
    .disable-scroll {
        overflow: hidden;
    }

    .darken-bg-menu {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: -10;
        background-color: rgba(#000, 0);
        transition: .3s ease background-color;
    
        &.show {
            z-index: 50;
            background-color: rgba(#000, .5);
        }
    }
}

// FULLSCREEN CARD
.welcome-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 900px;
    height: 625px;
    padding: 0 100px 20px;
    background-color: rgba(#000, .75);
    position: relative;
    top: 150px;

    .brand {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;

        img {
            width: 150px;
        }

        h1 {
            .heading-font;
            font-size: 96px;
            margin-top: -30px;
            letter-spacing: .1em;
        }

        > span {
            font-size: 24px;
            margin-top: -25px;
            font-weight: 100;
            letter-spacing: .8em;
        }
    }

    .slogan {
        font-size: 36px;
        text-align: center;
        margin-bottom: 30px;
    }

    .btn-action {
        transform: scale(1.5);
        margin-top: 15px;
    }

    @media (max-width: 1199px) {
        width: 100%;
    }

    @media (max-width: 767px) {
        height: 500px;
        padding: 20px 70px 40px;

        .brand {
            margin-top: 0;

            img {
                width: 120px;
            }

            h1 {
                margin-top: -10px;
                font-size: 50px;
            }

            > span {
                margin-top: -10px;
                font-size: 10px;
            }
        }

        .slogan {
            font-size: 24px;
        }
    }
}

// SECTION "ABOUT US"
h2 {
    .heading-font;
    font-size: 48px;
    text-align: center;

    @media (max-width: 767px) {
        font-size: 36px;
    }
}

.section-heading {
    margin-bottom: 60px;
}

#about-us {
    img {
        width: 100%;
    }

    .about-us-text {
        display: flex;
        flex-direction: column;
        justify-content: center;

        * {
            font-size: 18px;
        }
        
        p {
            margin-bottom: 25px;

            &:last-child {
                margin-bottom: 0;
            }

            span {
                font-weight: 600;
            }
        }

        @media (max-width: 991px) {
            * {
                font-size: 16px;
            };

            p {
                margin-bottom: 15px;
            }

            margin-top: 20px;
        }
    }
}

// SECTION "WORK EXAMPLES"
#work-examples {
    .row {
        margin: 0 -1px;

        > div {
            padding: 0 1px 2px;
        }
    }

    .gallery {
        @media (max-width: 575px) {
            display: none;
        }
    }
}

.gallery-item {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: .3s ease transform;
    }

    .sub-text {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 10px 0;
        background-color: rgba(#000, .75);
        text-align: center;

        span {
            font-weight: 600;
        }
    }
}

.slider {
    position: relative;
    display: none;
    overflow: hidden;

    .slider-slides {
        height: 450px;
        position: relative;

        .slider-item {
            height: 450px;
            position: absolute;
            width: 100%;

            &.show {
                animation: slide-show .5s;
                animation-fill-mode: forwards;
            }

            &.hide {
                animation: slide-hide .5s;
                animation-fill-mode: forwards;
            }

            @keyframes slide-hide {
                0% {
                    opacity: 100%;
                    visibility: visible;
                }
            
                100% {
                    opacity: 0%;
                    visibility: hidden;
                }
            }
            
            @keyframes slide-show {
                0% {
                    opacity: 0%;
                    visibility: hidden;
                }
            
                100% {
                    opacity: 100%;
                    visibility: visible;
                }
            }
        }
    }

    .slider-controls {
        position: absolute;
        width: 100%;
        top: 200px;
        display: flex;
        justify-content: space-between;

        .slide-button {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(#000, .75);
            width: 50px;
            height: 50px;
            cursor: pointer;
            font-size: 30px;
            
            i {
                font-size: 30px;
                transition: .05s ease all;
            }

            &:hover, &:active {
                i {
                    transform: scale(1.2);
                }
            }

            &:active {
                i {
                    margin-top: 3px;
                }
            }
        }
    }

    @media(max-width: 575px) {
        display: block;
    }
}

// SECTION "LOCATION"
#location {
    iframe {
        width: 100%;
        height: 650px;

        @media (max-width: 991px) {
            height: 500px;
        }
    }

    .location-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;

        h3 {
            .heading-font;
            font-size: 18px;
            letter-spacing: .2em;
        }

        i {
            margin-right: 3px;
        }

        p {
            margin-bottom: 4px;
        }

        .btn-action {
            margin-top: 50px;
            transform: scale(1.8);
        }
    }
}

// FOOTER
.footer {
    background-color: @grey-dark;
    padding: 50px 0 80px;

    > div {
        position: relative;
    }

    .footer-info {
        position: relative;
        z-index: 3;
    }

    .flex-wrapper {
        display: flex;
        justify-content: space-between;
    }

    h4 {
        font-weight: 600;
        margin-bottom: 10px;
    }

    a {
        display: block;
        margin-bottom: 3px;
    }

    i {
        margin-right: 3px;
    }

    .footer-copyright {
        position: absolute;
        top: -5px;
        left: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            height: 80px;
            margin-bottom: 10px;
        }

        span {
            text-align: center;
        }
    }

    @media (max-width: 991px) {
        padding-bottom: 180px;

        .footer-copyright {
            top: 90px;
        }
    }

    @media (max-width: 575px) {
        padding-bottom: 170px;

        .flex-wrapper {
            flex-direction: column;
        }

        .footer-info {
            margin-bottom: 20px;
        }

        .footer-copyright {
            top: 180px;
        }
    }
}

// ====================== X ======================

// ================ SERVICES PAGE ================

#services {
    margin-top: 70px;
    min-height: 83vh;

    .service-info {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 7px;

        span {
            font-size: 18px;
        }

        .service-price {
            font-weight: 600;
        }

        @media (max-width: 767px) {
            span {
                font-size: 14px;
            }
        }

        @media (max-width: 374px) {
            .service-title {
                width: 200px;
            }
        }
    }

    .invite-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 40px;

        p {
            text-align: center;
            font-size: 24px;
        }

        button {
            margin-top: 35px;
            transform: scale(2);
        }
    }
}

// ====================== X ======================

// ================ MASTERS PAGE =================

#barbers {
    margin-top: 70px;
    padding-bottom: 50px;

    .row {
        margin-bottom: 50px;
    }

    .barber-img {
        img {
            width: 100%;
            object-fit: cover;
        }
    }

    .barber-info {
        display: flex;
        flex-direction: column;
        justify-content: center;

        h3 {
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 5px;
        }

        p {
            margin-top: 10px;
        }
    }

    @media (max-width: 767px) {
        .barber-info {
            padding-top: 30px;
        }
    }
}

// ====================== X ======================

// =============== COSMETICS PAGE ================

#cosmetics {
    margin-top: 70px;
    min-height: 83vh;

    .row {
        margin: 0 -1px;

        > div {
            padding: 0 1px 2px;
        }
    }

    .gallery-item {
        height: 250px;

        @media (max-width: 767px) {
            height: 200px;
        }

        &:hover {
            img {
                transform: scale(1.1);
            }
        }

        &:active {
            img {
                transform: scale(1.05);
            }
        }
    }

    .corner-price {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        background-color: rgba(#000, .75);
        width: 70px;
        height: 40px;
    }
}

// ====================== X ======================

// ============ SINGLE COSMETIC PAGE =============

#single-cosmetic {
    margin-top: 70px;
    min-height: 795px;
    height: 83vh;

    .cosmetic-img {
        height: 400px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    h3 {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 5px;
    }

    .cosmetic-description {
        margin-bottom: 20px;

        @media (max-width: 767px) {
            margin-top: 20px;
        }
    }

    .cosmetic-price {
        font-size: 36px;
        font-weight: 600;

        @media (max-width: 767px) {
            font-size: 30px;
        }
    }

    .disclaimer {
        margin-top: 50px;
        text-align: center;
        font-size: 10px;
        font-style: italic;
    }
}

// ====================== X ======================