@grey-dark: #252525;
@brown-dark: #522E00;
@brown-light: #C3A995;
@green-action: #57886C;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main-font {
    font-family: 'Inter', sans-serif;
}

.heading-font {
    font-family: 'Alegreya', serif;
}